etc/wsdl/EOSServices.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<definitions xmlns:tns='http://sciflo.jpl.nasa.gov/2006v1/sf/EOSServices' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' name='EOSServices' targetNamespace='http://sciflo.jpl.nasa.gov/2006v1/sf/EOSServices'>
  <message name='geoRegionQueryRequest'>
    <part type='xs:string' name='datasetName'/>
    <part type='xs:string' name='level'/>
    <part type='xs:string' name='version'/>
    <part type='xs:string' name='startDateTime'/>
    <part type='xs:string' name='endDateTime'/>
    <part type='xs:string' name='latMin'/>
    <part type='xs:string' name='latMax'/>
    <part type='xs:string' name='lonMin'/>
    <part type='xs:string' name='lonMax'/>
    <part type='xs:string' name='responseGroups'/>
  </message>
  <message name='geoRegionQueryResponse'>
    <part type='xs:string' name='Result'/>
  </message>
  <message name='findDataByIdRequest'>
    <part type='xs:string' name='objectids'/>
    <part type='xs:string' name='level'/>
    <part type='xs:string' name='version'/>
  </message>
  <message name='findDataByIdResponse'>
    <part type='xs:string' name='Result'/>
  </message>
  <portType name='EOSServicesPortType'>
    <operation name='geoRegionQuery'>
      <input message='tns:geoRegionQueryRequest'/>
      <output message='tns:geoRegionQueryResponse'/>
    </operation>
    <operation name='findDataById'>
      <input message='tns:findDataByIdRequest'/>
      <output message='tns:findDataByIdResponse'/>
    </operation>
  </portType>
  <binding type='tns:EOSServicesPortType' name='EOSServicesBinding'>
    <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
    <operation name='geoRegionQuery'>
      <soap:operation soapAction=''/>
      <input name='geoRegionQueryRequest'>
        <soap:body use='encoded' namespace='http://sciflo.jpl.nasa.gov/2006v1/sf/EOSServices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='geoRegionQueryResponse'>
        <soap:body use='encoded' namespace='http://sciflo.jpl.nasa.gov/2006v1/sf/EOSServices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
    <operation name='findDataById'>
      <soap:operation soapAction=''/>
      <input name='findDataByIdRequest'>
        <soap:body use='encoded' namespace='http://sciflo.jpl.nasa.gov/2006v1/sf/EOSServices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </input>
      <output name='findDataByIdResponse'>
        <soap:body use='encoded' namespace='http://sciflo.jpl.nasa.gov/2006v1/sf/EOSServices' encodingStyle='http://schemas.xmlsoap.org/soap/encoding/'/>
      </output>
    </operation>
  </binding>
  <service name='EOSServices'>
    <documentation>SciFlo SOAP methods for EOSServices.</documentation>
    <port binding='tns:EOSServicesBinding' name='EOSServicesPort'>
      <soap:address location='http://sciflo-vm:8888'/>
    </port>
  </service>
</definitions>
